{
  "semi": false,
  "singleQuote": true,
  "tabWidth":2,
  "bracketSpacing":true,
  "bracketSameLine":true,
  "arrowParens":"avoid",
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}